.swiperContainer {
  width: 100%;
  position: relative;
  height: 100%;
}

.site-header.no-shadow {
  background: none !important;
}

.slideWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  bottom: 0rem;
}

.leftSection {
  width: 40%;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  padding: 0 5% 0;
  z-index: 2;
  margin-left: 7.7%;
  padding-right: 14rem;
}

.rightSection {
  width: 60%;
  position: relative;
  overflow: hidden;
}

.desktopBanner {
  display: block;
  width: 100% !important;
  height: 100%;
  object-fit: cover;

}

.mobileBanner {
  display: none;
}

.bannerContent {
  width: 100%;
  margin-top: 12rem;
}

.bannerLabel {
  font: var(--font-18);
  font-family: var(--font-Condensed);
  font-weight: 600;
  color: #DAA520;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.bannerContentH1 {
  font: var(--font-60);
  color: #1a1a1a;
  font-weight: 700;
  letter-spacing: -2.88px;
  font-family: var(--font-Condensed);
  text-transform: uppercase;
  margin-bottom: 4.7rem;
  line-height: 0.9;
}

.bannerContentH1 span {
  color: #018CE8;
}

.bannerContentP {
  font: var(--font-16);
  color: #333;
  line-height: 1.7;
  font-family: var(--font-Roboto);
  font-weight: 300;
  margin-bottom: 5.4rem;
  max-width: 80%;
}

.bannerContentA {
  display: inline-flex;
  align-items: center;
  font: var(--font-18);
  color: #1a1a1a;
  text-decoration: none;
  font-weight: 500;
  font-family: var(--font-Roboto);
  transition: all 0.3s ease;
  position: relative;
  padding-bottom: 1.2rem;
}

.bannerContentA::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #1a1a1a;
}

.bannerContentA:hover {
  color: #4A90E2;
}

.bannerContentA:hover::after {
  background: #4A90E2;
}

.iconSpacing {
  margin-left: 3.3rem;
  transition: transform 0.3s ease;
}

.bannerContentA:hover .iconSpacing {
  transform: translateX(5px);
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}


.departmentOverlay {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgb(0 0 0 / 100%), rgba(0, 0, 0, 0));
  color: #fff;
  padding: 10px 0;
}


.departmentOverlay {
  position: absolute;
  bottom: 0;
  padding: 30px 30px 15px;
}
.departmentOverlay span{
  font: var(--font-16);
  color: #fff;
  text-transform: uppercase;
  font-family: var(--font-Condensed);
  letter-spacing: 0px;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  display: inline-block; 
}
.departmentOverlay h2 {
  font: var(--font-29);
  font-family: var(--font-Condensed);
  color: #FFC100;
  font-weight: bold;
  letter-spacing: -0.81px;
  line-height: 1.8;
  text-transform: uppercase;
}
.departmentOverlay span::after {
  content: '';
  position: absolute;
  left: 100%; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 26rem;
  height: 2px; 
  background-color: #FFC100; 
  margin-left: 2rem;
}

/* Responsive Design */



@media (max-width: 1366px) {
  .swiperContainer {
    height: 550px;
  }
  .leftSection {
    padding: 0 4%;
  }
}

@media (max-width: 1200px) {
  .swiperContainer {
    height: 500px;
  }

  .bannerContentH1 {
    margin-bottom: 1.5rem;
  }

}

@media (max-width: 1024px) {

  .leftSection {
    width: 75%;
    padding: 0 3%;
  }

  .rightSection {
    width: 100%;
  }
  .departmentOverlay h2 {
 line-height: normal;
}

}


@media (max-width: 991px) {
.bannerContentH1 {
  font: var(--font-40);
  color: #1a1a1a;
  font-weight: 700;
  letter-spacing: -1.88px;
  font-family: var(--font-Condensed);
  text-transform: uppercase;
  margin-bottom: 3.7rem;
  line-height: 1;
}

}
@media (max-width: 767px) {

  .swiperContainer {
    height: auto;
  }

  .bannerContentP {
    max-width: 100%;
    margin-bottom: 2.4rem;
  }

  .slideWrapper {
    flex-direction: column;
    display: flex;
  }

  .leftSection {
    width: 100%;
    padding: 3rem 2rem;
    order: 2;
    background: #fff;
  }

  .bannerContent {
    width: 100%;
    margin-top: 0rem;
  }

  .leftSection {
    width: 100%;
    max-width: 100%;
  margin-left: 0;

  }

  .rightSection {
    width: 100%;
    height: auto;
    order: 1;
  }

  .desktopBanner {
    display: none;
  }

  .mobileBanner {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .bannerContent {
    max-width: 100%;
    text-align: center;
  }

  .bannerContentA {
    justify-content: center;
  }
}