.readMoreWrapper {
  width: 100%;
}

.contentBox {
  overflow: hidden;
  font: var(--font-16);
  color: #212121;
  font-weight: normal;
  font-family: var(--font-Roboto);
  letter-spacing: 0;
}

.hiddenBlock {
  display: none !important;
}

.arrowIcon {
  display: inline-block;
  transition: transform 0.3s ease;
  vertical-align: middle;
}

.arrowUp {
  transform: rotate(180deg);
}
