.inner_page {
    padding: 10rem 0;
}

.innerPage_title {
    font: var(--font-26);
    margin-bottom: 7rem;
}

.labs_page {
    margin-top:0;
}

.labs_page .heading{
color: #16344e;
    font-weight: 700;
    font: var(--font-26);
    margin-bottom: 4rem;
}

.labs_page .sub_heading{
color: #333;
    font: var(--font-24);
    max-width: 950px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;
}


.table_section .heading{
    text-align: left;
}

.table_images{
    margin-top:8rem
}

.table_images img{
    border-radius: 0.8rem;
}



