.verticalLine {
  z-index: 15;
  background-color: rgba(231, 231, 231, 0.5);
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 11.6%;
}
.slideNumberBox {
  z-index: 20;
  background-color: #f8c326;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  font-size: 16px;
  display: flex;
  position: absolute;
  top: 10%;
  left: -15px;
}
.bannerContent {
  z-index: 20;
  color: #fff;
  width: 45%;
  position: absolute;
  top: 10%;
  left: 14%;
}

.bannerContent h2 {
  margin-bottom: 1.5rem;
}

.bannerContent p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 2rem;
  color: #fff;
  max-width: 500px;
}

.slideContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Gradient Overlays */
.slideContainer::before,
.slideContainer::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 120px;
  pointer-events: none;
  z-index: 10;
}

.slideContainer::before {
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
}

.slideContainer::after {
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

.bannerLinks {
  gap: 2rem;
  font-size: 14px;
  display: flex;
  position: absolute;
  bottom: 25%;
  left: 14%;
  color: #fff;
  font-weight: 600;
  z-index: 20;
}
.bannerLink {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 2px dotted #ffc100;
}
.headingContainer {
  position: relative;
  background: #f6f6f6;
  width: 100%;
  padding: 4rem 10rem 0;
}
.headingContent {
  background: #fff;
  padding: 1rem 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.blueText {
  color: #007bff;
}
