/* [project]/src/component/home-components/courses-offered-home/courses-offered.module.css [app-client] (css) */
.courses-offered-module__x5Lqha__secondSection {
  background: #f6f6f6;
  padding: 8rem 12rem;
}

.courses-offered-module__x5Lqha__topSection {
  width: 100%;
  margin: auto;
}

.courses-offered-module__x5Lqha__topSectionH5 {
  text-transform: uppercase;
  color: #16344e;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 600;
}

.courses-offered-module__x5Lqha__topSectionH1 {
  text-transform: uppercase;
  width: 75%;
  font-size: 3.5rem;
}

.courses-offered-module__x5Lqha__searchBox {
  width: 86%;
  height: 45px;
  margin: 2rem 0;
}

.courses-offered-module__x5Lqha__programsCount {
  color: #b08f29;
  font-family: Oswald, sans-serif;
  font-size: 110px;
}

.courses-offered-module__x5Lqha__programsCountWrapper {
  display: inline-block;
  position: relative;
}

.courses-offered-module__x5Lqha__programsCountPlus {
  color: #ac9031;
  font-size: 3rem;
  font-weight: 400;
  position: absolute;
  top: -10px;
  right: -24px;
}

.courses-offered-module__x5Lqha__cardOverlay {
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .4) 70%, rgba(0, 0, 0, .8) 100%);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.courses-offered-module__x5Lqha__programsText {
  font-family: Geist, sans-serif;
  font-size: 24px;
}

.courses-offered-module__x5Lqha__admissionYearText {
  color: #018ce8;
}

.courses-offered-module__x5Lqha__admissionSection {
  padding-left: 3rem;
}

.courses-offered-module__x5Lqha__admissionSection h4 {
  font-size: 26px;
}

.courses-offered-module__x5Lqha__admissionSection p {
  font-size: 18px;
  font-weight: 300;
}

.courses-offered-module__x5Lqha__admissionSection a {
  padding: 8px 30px;
  font-family: Noto Sans, sans-serif;
  font-size: 16px;
}

.courses-offered-module__x5Lqha__bottomSectionH6 {
  text-transform: uppercase;
  background: #f6f6f6;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 3rem;
  font-size: 20px;
  position: relative;
  bottom: 20px;
  right: 10px;
  margin: 0 !important;
}

.courses-offered-module__x5Lqha__bannerLabel {
  color: #fff;
  border-left: 4px solid #ffc100;
  border-radius: 2px;
  gap: 7px;
  width: 100%;
  padding-left: 10px;
  font-family: Geist, sans-serif;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  bottom: 14px;
  left: 0;
}

.courses-offered-module__x5Lqha__searchBox input::placeholder {
  opacity: .6;
  font-size: 14px;
  font-style: italic;
}

.courses-offered-module__x5Lqha__cardImage {
  width: 100%;
  height: 100%;
}

.courses-offered-module__x5Lqha__programsCountSection {
  margin: 3rem 0;
}

.courses-offered-module__x5Lqha__programsCardsSection {
  justify-content: end;
}

.courses-offered-module__x5Lqha__rightDesktopArrow {
  display: block;
}

.courses-offered-module__x5Lqha__rightMobileArrow, .courses-offered-module__x5Lqha__showOnlyMobileCard, .courses-offered-module__x5Lqha__showOnlyMobileSubHeading {
  display: none;
}

@media (min-width: 1381px) and (max-width: 1919px) {
  .courses-offered-module__x5Lqha__secondSection {
    padding: 8rem 11rem;
  }

  .courses-offered-module__x5Lqha__topSectionH1 {
    font-size: 2.5rem;
  }

  .courses-offered-module__x5Lqha__topSectionH5 {
    font-size: 16px;
  }

  .courses-offered-module__x5Lqha__programsCount {
    font-size: 90px;
  }

  .courses-offered-module__x5Lqha__programsText {
    font-size: 18px;
  }

  .courses-offered-module__x5Lqha__bannerLabel {
    font-size: 20px;
  }

  .courses-offered-module__x5Lqha__admissionSection h4 {
    font-size: 22px;
  }

  .courses-offered-module__x5Lqha__schoolsList a {
    font-size: 16px;
  }

  .courses-offered-module__x5Lqha__admissionSection p, .courses-offered-module__x5Lqha__admissionSection a {
    font-size: 15px;
  }
}

@media (min-width: 1040px) and (max-width: 1380px) {
  .courses-offered-module__x5Lqha__secondSection {
    padding: 8rem;
  }

  .courses-offered-module__x5Lqha__topSectionH1 {
    font-size: 2rem;
  }

  .courses-offered-module__x5Lqha__topSectionH5 {
    font-size: 14px;
  }

  .courses-offered-module__x5Lqha__programsCount {
    font-size: 80px;
  }

  .courses-offered-module__x5Lqha__programsText {
    font-size: 16px;
  }

  .courses-offered-module__x5Lqha__bannerLabel {
    font-size: 20px;
  }

  .courses-offered-module__x5Lqha__programsCountPlus {
    font-size: 2.7rem;
    top: -20px;
    right: -20px;
  }

  .courses-offered-module__x5Lqha__bottomSectionH6 {
    font-size: 18px;
  }

  .courses-offered-module__x5Lqha__schoolsList a {
    font-size: 15px;
  }

  .courses-offered-module__x5Lqha__admissionSection h4 {
    font-size: 20px;
  }

  .courses-offered-module__x5Lqha__admissionSection p, .courses-offered-module__x5Lqha__admissionSection a {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .courses-offered-module__x5Lqha__explore-program-section a {
    font-size: 14px;
  }

  .courses-offered-module__x5Lqha__programsCardsSection {
    justify-content: space-between;
  }

  .courses-offered-module__x5Lqha__programsCountSection {
    margin: 0;
  }

  .courses-offered-module__x5Lqha__bottomSectionH6, .courses-offered-module__x5Lqha__explore-program-section a {
    font-size: 14px;
  }

  .courses-offered-module__x5Lqha__admissionSection h4 {
    font-size: 20px;
  }

  .courses-offered-module__x5Lqha__admissionSection {
    border-right: 1px solid #e9e4e4;
    padding-bottom: 16px;
    padding-left: 1rem;
    padding-right: 4rem;
  }

  .courses-offered-module__x5Lqha__admissionSection a, .courses-offered-module__x5Lqha__explore-program-section a {
    font-size: 14px;
  }

  .courses-offered-module__x5Lqha__admissionSection p {
    font-size: 14px;
    font-weight: 300;
  }

  .courses-offered-module__x5Lqha__searchBox {
    width: -moz-fit-content;
    width: fit-content;
    height: 35px;
    margin: 1rem 0;
  }

  .courses-offered-module__x5Lqha__courses-offered-module__x5Lqha__programsCountPlus {
    font-size: 1.5rem;
    top: -5px;
    right: -15px;
  }

  .courses-offered-module__x5Lqha__secondSection {
    padding: 4rem;
  }

  .courses-offered-module__x5Lqha__topSectionH5 {
    margin-bottom: .6rem;
    font-size: 12px;
  }

  .courses-offered-module__x5Lqha__topSectionH1 {
    font-size: 25px;
  }

  .courses-offered-module__x5Lqha__programsCount {
    font-size: 50px;
  }

  .courses-offered-module__x5Lqha__programsText {
    font-size: 14px;
  }

  .courses-offered-module__x5Lqha__bannerLabel {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .courses-offered-module__x5Lqha__showOnlyMobileSubHeading {
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0 1rem;
    font-size: 14px;
    display: flex;
  }

  .courses-offered-module__x5Lqha__topSectionH5 {
    display: none;
  }

  .courses-offered-module__x5Lqha__secondSection {
    background: #16344e;
    padding: 0 0 5rem;
  }

  .courses-offered-module__x5Lqha__topSection {
    background: #f6f6f6;
    padding: 2.5rem 1rem 1rem;
    margin: 0 !important;
  }

  .courses-offered-module__x5Lqha__topSectionH1 {
    text-align: center;
    width: 100%;
    font-size: 34px;
  }

  .courses-offered-module__x5Lqha__searchBox {
    display: none;
  }

  .courses-offered-module__x5Lqha__programsCountSection {
    display: none !important;
  }

  .courses-offered-module__x5Lqha__exploreProgramSectionWrapper {
    display: none;
  }

  .courses-offered-module__x5Lqha__programsCardsSection {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    gap: 12px !important;
  }

  .courses-offered-module__x5Lqha__second-section-cards-image {
    width: 45%;
  }

  .courses-offered-module__x5Lqha__programsCardsSection a {
    width: 47%;
  }

  .courses-offered-module__x5Lqha__bannerLabel {
    border: unset;
    justify-content: space-between;
    padding-right: 10px;
    font-size: 20px;
  }

  .courses-offered-module__x5Lqha__rightDesktopArrow {
    display: none;
  }

  .courses-offered-module__x5Lqha__rightMobileArrow {
    display: block;
  }

  .courses-offered-module__x5Lqha__showOnlyMobileCard {
    background: #fff;
    border-radius: 30px 4px 10px 10px;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 45%;
    height: auto;
    display: flex;
    position: relative;
  }

  .courses-offered-module__x5Lqha__lastCardArrow {
    position: absolute;
    bottom: 0;
  }

  .courses-offered-module__x5Lqha__cardImage {
    border-top-left-radius: 30px;
    width: 100%;
    height: 100%;
  }

  .courses-offered-module__x5Lqha__cardOverlay {
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .4) 70%, rgba(0, 0, 0, .8) 100%);
    border-radius: 4px;
  }

  .courses-offered-module__x5Lqha__showOnlyMobileCard p {
    color: #16344e;
    margin-bottom: 5px;
    font-size: 16px;
  }

  .courses-offered-module__x5Lqha__showOnlyMobileCard h1 {
    font-size: 48px;
  }

  .courses-offered-module__x5Lqha__showOnlyMobileCard div {
    padding: 1rem;
  }

  .courses-offered-module__x5Lqha__showOnlyMobileCard h5 {
    color: #16344e;
    font-size: 20px;
    font-weight: 600;
  }

  .courses-offered-module__x5Lqha__exploreAllLink {
    width: 100% !important;
  }
}

/*# sourceMappingURL=ea2e3_home-components_courses-offered-home_courses-offered_module_css_bad6b30c._.single.css.map*/