/* [project]/src/component/home-components/facilities/facilities.module.css [app-client] (css) */
.facilities-module__UE4CmG__verticalLine {
  z-index: 15;
  background-color: rgba(231, 231, 231, .5);
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 11.6%;
}

.facilities-module__UE4CmG__slideNumberBox {
  z-index: 20;
  background-color: #f8c326;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  font-size: 16px;
  display: flex;
  position: absolute;
  top: 8%;
  left: -15px;
}

.facilities-module__UE4CmG__bannerContent {
  z-index: 20;
  color: #fff;
  width: 45%;
  position: absolute;
  top: 8%;
  left: 14%;
}

.facilities-module__UE4CmG__bannerContent h2 {
  margin-bottom: 1.5rem;
}

.facilities-module__UE4CmG__bannerContent p {
  color: #fff;
  max-width: 500px;
  margin-bottom: 2rem;
  font-size: 18px;
  font-weight: 300;
}

.facilities-module__UE4CmG__slideContainer {
  width: 100%;
  height: 100vh;
  position: relative;
}

.facilities-module__UE4CmG__slideContainer:before, .facilities-module__UE4CmG__slideContainer:after {
  content: "";
  pointer-events: none;
  z-index: 10;
  width: 100%;
  height: 120px;
  position: absolute;
  left: 0;
}

.facilities-module__UE4CmG__slideContainer:before {
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
  top: 0;
}

.facilities-module__UE4CmG__slideContainer:after {
  background: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
  bottom: 0;
}

.facilities-module__UE4CmG__bannerLinks {
  color: #fff;
  z-index: 20;
  gap: 2rem;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  position: absolute;
  bottom: 15%;
  left: 14%;
}

.facilities-module__UE4CmG__bannerLink {
  color: #fff;
  border-bottom: 2px dotted #ffc100;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  text-decoration: none;
  display: flex;
}

.facilities-module__UE4CmG__headingContainer {
  background: #f6f6f6;
  width: 100%;
  padding: 4rem 10rem 0;
  position: relative;
}

.facilities-module__UE4CmG__plusIcon {
  color: #cba632;
  border: 1px solid #16344e;
  border-radius: 40px;
  font-size: 32px;
}

.facilities-module__UE4CmG__headingContent {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
}

.facilities-module__UE4CmG__blueText {
  color: #007bff;
}

.facilities-module__UE4CmG__sectionHeader h5 {
  font-size: 18px;
  font-weight: 600;
}

.facilities-module__UE4CmG__sectionHeader h1 {
  font-size: 60px;
  font-weight: 600;
}

.facilities-module__UE4CmG__headerContent {
  background: linear-gradient(135deg, #fff 100%, #fff3f3 100%);
  gap: 2rem;
  width: 81.3vw;
  height: 170px;
  margin: auto;
  padding: 25px 25px 0 34px;
  display: flex;
}

.facilities-module__UE4CmG__facilitiesContainer {
  background: #f6f6f6;
}

.facilities-module__UE4CmG__straightLine {
  background-color: #16344e;
  width: 1px;
  height: 100%;
  margin-left: 15px;
  display: block;
}

.facilities-module__UE4CmG__headerContent h1 {
  font-size: 60px;
  font-weight: 700;
}

.facilities-module__UE4CmG__headerContent h5 {
  font-size: 18px;
  font-weight: 700;
}

.facilities-module__UE4CmG__mobileContainer {
  display: none;
}

.facilities-module__UE4CmG__facilitiesContainer {
  display: block;
}

@media (min-width: 1090px) and (max-width: 1199px) {
  .facilities-module__UE4CmG__headerContent {
    width: 85.1vw;
  }
}

@media (min-width: 1200px) and (max-width: 1535px) {
  .facilities-module__UE4CmG__headerContent {
    width: 83.9vw;
  }
}

@media (min-width: 1536px) and (max-width: 1689px) {
  .facilities-module__UE4CmG__headerContent {
    width: 82.6vw;
  }
}

@media (min-width: 1690px) and (max-width: 1919px) {
  .facilities-module__UE4CmG__headerContent {
    width: 81.8vw;
  }
}

@media (min-width: 2020px) and (max-width: 2309px) {
  .facilities-module__UE4CmG__headerContent {
    width: 80.8vw;
  }
}

@media (min-width: 2310px) and (max-width: 2690px) {
  .facilities-module__UE4CmG__headerContent {
    width: 80.2vw;
  }
}

@media (min-width: 2691px) and (max-width: 2890px) {
  .facilities-module__UE4CmG__headerContent {
    width: 80.4vw;
  }
}

@media (min-width: 2691px) and (max-width: 3140px) {
  .facilities-module__UE4CmG__headerContent {
    width: 79.6vw;
  }
}

@media (min-width: 3141px) and (max-width: 3440px) {
  .facilities-module__UE4CmG__headerContent {
    width: 79.8vw;
  }
}

@media (min-width: 3441px) and (max-width: 3850px) {
  .facilities-module__UE4CmG__headerContent {
    width: 78.8vw;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .facilities-module__UE4CmG__headerContent h1 {
    font-size: 25px;
  }

  .facilities-module__UE4CmG__headerContent h5 {
    font-size: 12px;
  }

  .facilities-module__UE4CmG__headerContent {
    width: 86.7vw;
    height: 110px;
  }

  .facilities-module__UE4CmG__bannerContent h2 {
    font-size: 20px;
  }

  .facilities-module__UE4CmG__bannerContent p {
    font-size: 14px;
  }

  .facilities-module__UE4CmG__bannerContent svg {
    font-size: 18px;
  }

  .facilities-module__UE4CmG__bannerContent {
    left: 16%;
  }
}

@media (max-width: 768px) {
  .facilities-module__UE4CmG__mobileContainer {
    background: #16344e;
    padding: 5rem 0;
    display: block;
  }

  .facilities-module__UE4CmG__facilitiesContainer {
    display: none;
  }

  .facilities-module__UE4CmG__cardImageContainer {
    width: 47%;
    position: relative;
  }

  .facilities-module__UE4CmG__cardContent {
    color: #fff;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 0;
  }

  .facilities-module__UE4CmG__cardOverlay {
    background: linear-gradient(to top, rgba(0, 0, 0, .75), rgba(0, 0, 0, .4) 15%, rgba(0, 0, 0, 0) 80%);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .facilities-module__UE4CmG__cardSection {
    flex-wrap: wrap;
    gap: 13px;
    padding: 1rem .8rem;
    display: flex;
  }

  .facilities-module__UE4CmG__cardImageContainer img {
    border-radius: 8px;
    height: 191px;
  }

  .facilities-module__UE4CmG__mobileContainer p {
    color: #16344e;
    font-size: 14px;
    font-weight: 600;
  }

  .facilities-module__UE4CmG__showOnlyMobileCard {
    background: #fff;
    border-radius: 8px;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 47%;
    display: flex;
    position: relative;
  }

  .facilities-module__UE4CmG__showOnlyMobileCard a {
    height: 191px;
  }

  .facilities-module__UE4CmG__showOnlyMobileCard p {
    color: #16344e;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
  }

  .facilities-module__UE4CmG__showOnlyMobileCard h1 {
    font-size: 48px;
  }

  .facilities-module__UE4CmG__showOnlyMobileCard div {
    padding: .5rem 1rem 0;
  }

  .facilities-module__UE4CmG__showOnlyMobileCard h5 {
    color: #16344e;
    font-size: 14px;
    font-weight: 400;
  }

  .facilities-module__UE4CmG__mobileCardsContainer {
    background: #f6f6f6;
    padding-top: 2.5rem;
  }
}

/*# sourceMappingURL=src_component_home-components_facilities_facilities_module_css_bad6b30c._.single.css.map*/