/* [project]/src/app/programs/style.module.css [app-client] (css) */
* {
  box-sizing: border-box;
  font-family: var(--font-roboto);
  margin: 0;
  padding: 0;
}

.style-module__A48qea__main {
  background-color: var(--color-f3);
}

.style-module__A48qea__textDanger {
  color: red;
  font: var(--font-12);
}

.style-module__A48qea__container {
  max-width: 1394px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (max-width: 1750px) {
  .style-module__A48qea__container {
    max-width: 1274px;
  }
}

@media (max-width: 1400px) {
  .style-module__A48qea__container {
    max-width: 1024px;
  }
}

@media (max-width: 1366px) {
  .style-module__A48qea__container {
    max-width: 1000px;
  }
}

@media (max-width: 1200px) {
  .style-module__A48qea__container {
    max-width: 844px;
  }
}

@media (max-width: 1024px) {
  .style-module__A48qea__container {
    max-width: 758px;
  }
}

@media (min-width: 2500px) {
  .style-module__A48qea__container {
    max-width: 1780px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.style-module__A48qea__after, .style-module__A48qea__before {
  box-sizing: border-box;
}

.style-module__A48qea__audio, .style-module__A48qea__canvas, .style-module__A48qea__embed, .style-module__A48qea__iframe, .style-module__A48qea__img, .style-module__A48qea__object, .style-module__A48qea__svg, .style-module__A48qea__video {
  width: 100%;
  max-width: 100%;
  display: block;
}

.style-module__A48qea__body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--color-f6);
  margin: 0;
  scroll-behavior: unset !important;
}

.style-module__A48qea__paragraph {
  font: var(--font-16);
  font-weight: normal;
  font-family: var(--font-roboto);
  color: var(--color-black);
  margin-bottom: 3rem;
}

.style-module__A48qea__paragraph:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1549px) {
  .style-module__A48qea__paragraph {
    margin-bottom: 2rem;
  }
}

.style-module__A48qea__paragraph:empty {
  display: none !important;
}

.style-module__A48qea__anchor {
  -o-transition: all .5s ease;
  text-decoration: none;
  transition: all .5s;
}

.style-module__A48qea__figure {
  margin-bottom: 0;
}

.style-module__A48qea__siteMain {
  position: relative;
}

.style-module__A48qea__heading1 {
  font: var(--font-60);
  color: var(--color-black);
}

.style-module__A48qea__heading2 {
  font: var(--font-52);
  color: var(--color-03);
  letter-spacing: -.84px;
  font-weight: 600;
}

.style-module__A48qea__heading3 {
  font: var(--font-36);
  color: var(--color-black);
}

.style-module__A48qea__heading4 {
  font: var(--font-24);
  color: var(--color-black);
}

.style-module__A48qea__heading5 {
  font: var(--font-21);
  color: var(--color-black);
}

.style-module__A48qea__heading6 {
  font: var(--font-18);
  color: var(--color-black);
}

.style-module__A48qea__overlapBtn {
  font-size: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.style-module__A48qea__readBtn {
  border-radius: 50%;
  display: inline-block;
}

.style-module__A48qea__readBtn img {
  width: 2.8rem;
}

.style-module__A48qea__readBtn:hover {
  background-color: var(--color-white);
}

.style-module__A48qea__secTitle h5 {
  font: var(--font-21);
  color: var(--color-03);
  letter-spacing: 2.1px;
  font-weight: 600;
}

.style-module__A48qea__secTitle h2 {
  color: var(--color-21);
  font-weight: 200;
}

.style-module__A48qea__notifyBtn {
  z-index: 1;
  position: absolute;
  bottom: 3rem;
  right: 4rem;
}

.style-module__A48qea__notifyBtn a {
  font: var(--font-21);
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--color-f8);
  -webkit-backdrop-filter: blur(2px);
  background: rgba(248, 152, 35, .76);
  align-items: center;
  gap: 3rem;
  padding: 1.2rem 2.4rem 1.2rem 1.9rem;
  font-weight: normal;
  display: inline-flex;
}

.style-module__A48qea__notifyBtn a img {
  width: 2.9rem;
}

.style-module__A48qea__swiperNav {
  gap: .4rem;
  display: flex;
}

.style-module__A48qea__scrollbarWrap {
  align-self: center;
  display: flex;
  position: relative;
}

.style-module__A48qea__scrollbarWrap:before {
  content: "";
  z-index: 1;
  background: #bfc7c4;
  width: 100%;
  height: .1rem;
  position: absolute;
  top: .1rem;
}

.style-module__A48qea__scrollbarWrap .style-module__A48qea__swiperHorizontal .style-module__A48qea__swiperScrollbar, .style-module__A48qea__faciltySection .style-module__A48qea__swiperScrollbar.style-module__A48qea__swiperScrollbarHorizontal {
  position: static;
}

.style-module__A48qea__scrollbarWrap .style-module__A48qea__swiperScrollbarDrag {
  background: var(--color-bb);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .07);
}

.style-module__A48qea__scrollbarWrap .style-module__A48qea__swiperScrollbar.style-module__A48qea__swiperScrollbarHorizontal {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: .4rem;
  top: 0;
  bottom: 0;
  left: 0;
}

.style-module__A48qea__shine {
  position: relative;
  overflow: hidden;
}

.style-module__A48qea__shine:before {
  content: "";
  z-index: 2;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  width: 50%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  transform: skewX(-25deg);
}

.style-module__A48qea__shine:hover:before, .style-module__A48qea__shine:focus:before {
  animation: .85s style-module__A48qea__shine;
}

@keyframes style-module__A48qea__shine {
  100% {
    left: 125%;
  }
}

.style-module__A48qea__fullWidth {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.style-module__A48qea__fullTouch {
  max-width: 2700px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .style-module__A48qea__leftminus120 {
    margin-left: var(--leftminus120);
  }

  .style-module__A48qea__rightminus120 {
    margin-right: var(--rightminus120);
  }
}

@media (min-width: 1500px) {
  .style-module__A48qea__leftminus120 {
    margin-left: -12rem;
  }

  .style-module__A48qea__rightminus120 {
    margin-right: -12rem;
  }
}

.style-module__A48qea__anchorFocusVisible {
  outline: none;
}

.style-module__A48qea__links {
  content: "";
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.style-module__A48qea__customList {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.style-module__A48qea__customList li {
  font: var(--font-16);
  color: var(--color-21);
  padding-left: 2rem;
  position: relative;
}

.style-module__A48qea__customList li:before {
  content: "";
  background-color: var(--color-73);
  border-radius: 100%;
  width: .6rem;
  height: .6rem;
  position: absolute;
  top: .8rem;
  left: 0;
}

.style-module__A48qea__accordionButton {
  cursor: pointer;
  text-align: left;
  width: 100%;
  font: var(--font-30);
  color: var(--color-2b);
  padding: 0;
  -o-transition: all .5s ease;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  transition: all .5s;
  display: flex;
  position: relative;
}

.style-module__A48qea__accordionButton:after {
  content: "";
  -o-transition: all .5s ease;
  width: 1rem;
  height: 1rem;
  transition: all .5s;
  display: block;
  position: relative;
}

.style-module__A48qea__accordionButton.style-module__A48qea__active:after {
  rotate: 180deg;
}

.style-module__A48qea__accordionButton.style-module__A48qea__active {
  background-color: var(--color-f6);
}

.style-module__A48qea__accordionItem:first-child .style-module__A48qea__accordionButton {
  border-top: 0;
}

.style-module__A48qea__accordionCollapse {
  display: none;
}

.style-module__A48qea__accordionItem:not(:first-child) {
  border-top: .1rem solid rgba(112, 112, 112, .3);
}

.style-module__A48qea__accordionBody {
  background-color: var(--color-f6);
  padding-bottom: 4.9rem;
}

.style-module__A48qea__tableResponsive {
  -webkit-overflow-scrolling: touch;
  width: 100%;
  overflow-x: auto;
}

.style-module__A48qea__modal {
  z-index: 1090;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: display .3 sease, opacity .3s ease, visibility .3s ease;
  background-color: rgba(0, 0, 0, .7);
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.style-module__A48qea__modal.style-module__A48qea__show {
  opacity: 1;
  visibility: visible;
  display: flex;
}

.style-module__A48qea__innerMainHasModalShow {
  z-index: 1090;
}

.style-module__A48qea__bodyHasModalShow .style-module__A48qea__innerpageBanner {
  z-index: 0;
}

.style-module__A48qea__bodyHasModalShow {
  overflow: hidden;
}

.style-module__A48qea__modalContent {
  background: var(--color-ff);
  flex-direction: column;
  width: 100%;
  max-width: 70rem;
  max-height: calc(100% - 6rem);
  animation: .3s ease-in-out style-module__A48qea__ModalfadeIn;
  display: flex;
  position: relative;
}

.style-module__A48qea__closeModal {
  width: 3rem;
  height: 3rem;
  font-size: var(--font-21);
  background-color: var(--color-17);
  color: var(--color-ff);
  opacity: .8;
  justify-content: center;
  align-items: center;
  line-height: normal;
  display: flex;
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.style-module__A48qea__closeModal:hover {
  opacity: 1;
}

.style-module__A48qea__modalTitle {
  border-bottom: .1rem solid rgba(37, 51, 111, .1);
  padding: 2rem 6rem 2rem 2rem;
}

.style-module__A48qea__modalBody {
  flex: auto;
  padding: 2rem;
  position: relative;
  overflow-y: auto;
}

@keyframes style-module__A48qea__ModalfadeIn {
  from {
    opacity: 0;
    transform: scale(.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: 992px) {
  .style-module__A48qea__image, .style-module__A48qea__image2 {
    opacity: 0;
  }

  .style-module__A48qea__revealImage, .style-module__A48qea__revealImage:after {
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-fill-mode: both;
    position: absolute;
  }

  .style-module__A48qea__revealImage2, .style-module__A48qea__revealImage2:after {
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-delay: .1s;
    animation-fill-mode: both;
    position: absolute;
  }

  .style-module__A48qea__revealImage {
    opacity: 1;
    animation-name: style-module__A48qea__reveal-image;
    position: relative;
  }

  .style-module__A48qea__revealImage2 {
    opacity: 1;
    animation-name: style-module__A48qea__reveal-image2;
    position: relative;
  }

  .style-module__A48qea__revealImage3 {
    opacity: 1;
    transform-origin: top;
    animation-name: style-module__A48qea__fadeInline1;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-delay: .1s;
    animation-fill-mode: both;
    position: relative;
  }

  @keyframes style-module__A48qea__reveal-image {
    from {
      clip-path: inset(0 100% 0 0);
    }

    to {
      clip-path: inset(0);
    }
  }

  @keyframes style-module__A48qea__reveal-image2 {
    from {
      clip-path: inset(0 0% 100% 0);
    }

    to {
      clip-path: inset(0);
    }
  }
}

.style-module__A48qea__imageContainer {
  padding-bottom: calc(50% / (var(--ratio)));
  position: relative;
  overflow: hidden;
}

.style-module__A48qea__customBullets {
  margin: 0;
  padding: 0;
}

.style-module__A48qea__customBullets li {
  font-size: var(--font-16);
  line-height: var(--line-height-24);
  color: var(--color-black);
  margin-bottom: 2.5rem;
  padding-left: 3.5rem;
  font-weight: normal;
  list-style: none;
  position: relative;
}

.style-module__A48qea__customBullets li:last-child {
  margin-bottom: 0;
}

.style-module__A48qea__customBullets li:before {
  content: "";
  background-color: var(--color-a8);
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: .5rem;
  height: .5rem;
  position: absolute;
  top: 1rem;
  left: 0;
}

@media (max-width: 1549px) {
  .style-module__A48qea__customBullets li {
    padding-left: 2rem;
  }

  .style-module__A48qea__customBullets li:before {
    width: .56rem;
    height: .56rem;
    top: .6rem;
  }
}

@media (max-width: 767px) {
  .style-module__A48qea__customBullets li {
    padding-left: 2rem;
  }

  .style-module__A48qea__customBullets li:before {
    width: .46rem;
    height: .46rem;
    top: .6rem;
  }
}

.style-module__A48qea__searchSection {
  min-height: 60vh;
  padding-top: 6rem;
  padding-bottom: 10rem;
}

.style-module__A48qea__searchBx {
  background-color: var(--color-white);
  margin-bottom: 2rem;
  padding: 2rem 5rem 2rem 1.8rem;
  position: relative;
}

.style-module__A48qea__searchBx:last-child {
  margin-bottom: 0;
}

.style-module__A48qea__searchBx h5 {
  font-size: var(--font-24);
  color: var(--color-black);
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 1.16;
  transition: all .5s ease-out;
}

.style-module__A48qea__searchBx .style-module__A48qea__link {
  font-size: var(--font-18);
  color: var(--color-black);
  font-weight: 400;
  line-height: 1.16;
  font-family: var(--font-intervogue);
  margin-bottom: 1.5rem;
}

.style-module__A48qea__searchBx p {
  font-size: var(--font-18);
  color: var(--color-black);
  font-weight: 400;
  line-height: 1.4;
  font-family: var(--font-intervogue);
  margin-bottom: 0;
}

.style-module__A48qea__searchBxHasAnchorHover h6 {
  color: var(--color-96);
}

.style-module__A48qea__searchBxHasAnchorHover:after {
  color: var(--color-white);
  background-position: 0 100%;
}

.style-module__A48qea__searchBxHasAnchorHover:before, .style-module__A48qea__searchBx:before {
  background-color: var(--color-f0);
  content: "";
  width: 60%;
  height: .1rem;
  transition: all .5s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.style-module__A48qea__searchBx:after {
  content: "";
  width: 2.6rem;
  height: 2.6rem;
  line-height: 1;
  font-size: var(--font-11);
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0);
  background: linear-gradient(to right, var(--color-84) 49%, var(--color-96) 49%);
  background-position: 100% 100%;
  background-size: 210% 110%;
  border: .1rem solid #d2d2d2;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  transition: all .5s ease-out;
  display: inline-flex;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  font-family: Bootstrap Icons, sans-serif !important;
}

.style-module__A48qea__strechedLink {
  z-index: 99;
  width: 100%;
  height: 100%;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.style-module__A48qea__searchBx:hover:before {
  background-color: var(--color-f0);
  width: 100%;
}

/*# sourceMappingURL=src_app_programs_style_module_css_bad6b30c._.single.css.map*/