.bannerContent {
  color: #fff;
  width: 40%;
  position: absolute;
  top: 52%;
  left: 32%;
  transform: translate(-50%, -50%);
}
.bannerOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0.8) 100%
  );
  bottom: 0;
}

.bannerContentH1 {
  font-size: 60px;
  margin-bottom: 2rem;
}

.bannerContentP {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 2rem;
}

.bannerContentA {
  padding-bottom: 8px;
  border-bottom: 1px solid;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  width: fit-content;
  text-decoration: none;
}

.bannerContentA:hover {
  opacity: 0.8;
}

.swiperContainer {
  width: 100%;
}

.slideImage {
  object-fit: cover;
}

.iconSpacing {
  margin-left: 20px;
}

/* Responsive Design */
@media (min-width: 1040px) and (max-width: 1380px) {
  .bannerContentH1 {
    font-size: 34px;
    margin-bottom: 1rem;
  }

  .bannerContent {
    width: 40%;
  }
  .bannerContentP {
    font-size: 12px;
    margin-bottom: 1rem;
  }
  .bannerContentA {
    font-size: 12px;
  }
}

@media (min-width: 1921px) and (max-width: 3840px) {
  .bannerContent {
    left: 29%;
  }
}

@media (max-width: 480px) {
  .bannerContent {
    width: 90%;
    left: 5%;
    bottom: 10%;
  }

  .bannerContentH1 {
    font-size: 24px;
  }

  .bannerContentP {
    font-size: 12px;
  }

  .swiperContainer {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .bannerContent {
    width: 80%;
    left: 5%;
    bottom: 15%;
  }

  .bannerContentH1 {
    font-size: 32px;
    margin-bottom: 1rem;
  }

  .bannerContentP {
    font-size: 14px;
    margin-bottom: 1.5rem;
  }

  .bannerContentA {
    font-size: 16px;
  }

  .swiperContainer {
    height: 500px;
  }
}
