/* components/home-components/PlacementsSection/PlacementsSection.module.css */

.thirdSection {
  padding: 2rem 0 12rem 12rem;
  width: 100%;
  margin: auto;
  background: #f6f6f6;
}

.blueBg {
  background: #16344e;
  width: 100%;
  max-width: 13%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.statsNumber {
  font-size: 3rem;
}
.testimonialSwiper .eachSlide {
  gap: 6rem;
}
.testimonialSwiper small {
  font-style: italic;
  font-family: "Noto Sans", sans-serif;
}
.testimonialSwiper h6 {
  font-family: "Noto Sans", sans-serif;
  color: #0036a1;
}
.statsLabel {
  font-size: 14px;
  font-weight: 700;
}
.testimonialSwiper p {
  font-size: 20px;
}
.wallOfFameText {
  width: 65%;
  bottom: 10%;
  left: 6%;
  font-size: 50px;
}

/* .testimonialImageContainer {
  width: 140px;
  height: 160px;
} */

.wallOfFameContainer {
  height: 100%;
  width: 90%;
}

.wallOfFameImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sectionHeader p {
  font-size: 18px;
}
.sectionHeader h2 {
  font-size: 60px;
}
.sectionHeader {
  margin-bottom: 1.5rem;
}
.leftContent {
  padding-bottom: 2rem;
  border-bottom: 1px solid #f1d9d9;
}
.testimonialImageContainer {
  width: 20%;
  height: 100%;
  padding: 1rem;
}
.mobileQuoteIcon {
  display: none;
}
.desktopQuoteIcon {
  display: block;
}

@media (min-width: 1381px) and (max-width: 1919px) {
  .testimonialImageContainer {
    width: 30%;
    padding: 0;
  }
  .sectionHeader h2 {
    font-size: 40px;
  }
  .sectionHeader p {
    font-size: 14px;
  }
  .statsNumber {
    font-size: 2rem;
  }
  .testimonialSwiper p {
    font-size: 16px;
  }
  .testimonialSwiper .eachSlide {
    gap: 3rem;
  }
  .blueBg {
    max-width: 15%;
  }
  .wallOfFameText {
    font-size: 40px;
  }
}
@media (min-width: 1040px) and (max-width: 1380px) {
  .testimonialImageContainer {
    width: 30%;
    padding: 0;
  }
  .thirdSection {
    padding: 0rem 0 12rem 8rem;
  }
  .sectionHeader h2 {
    font-size: 2rem;
  }
  .sectionHeader p {
    font-size: 14px;
  }
  .statsNumber {
    font-size: 1.5rem;
  }
  .testimonialSwiper p {
    font-size: 13px;
  }
  .testimonialSwiper .eachSlide {
    gap: 2rem;
  }
  .wallOfFameText {
    font-size: 2rem;
  }
  .testimonialSwiper .eachSlide svg {
    font-size: 20px;
  }
  .testimonialSwiper h6 {
    font-size: 0.7rem;
  }
  .testimonialSwiper small {
    font-size: 0.7rem;
  }
  .wallOfFameContainer {
    width: 100%;
  }
  .blueBg {
    max-width: 20%;
  }
}
@media (min-width: 1920px) and (max-width: 2400px) {
  .testimonialImageContainer {
    width: 21%;
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  .testimonialImageContainer {
    width: 30%;
  }
  .thirdSection {
    padding: 2rem 0 4rem 4rem;
  }
  .sectionHeader p {
    font-size: 12px;
  }
  .sectionHeader h2 {
    font-size: 25px;
  }
  .statsNumber {
    font-size: 1.5rem;
  }
  .sectionHeader {
    margin-bottom: 0;
  }
  .wallOfFameContainer {
    width: 100%;
  }
  .testimonialSwiper .eachSlide {
    gap: 1rem;
  }
  .wallOfFameText {
    font-size: 30px;
  }
  .testimonialSwiper p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .thirdSection {
    padding: 3rem 1.3rem 2rem;
  }
  .sectionHeader p {
    font-size: 14px;
    text-align: center;
  }
  .sectionHeader h2 {
    font-size: 34px;
    text-align: center;
  }
  .statsNumber {
    font-size: 40px;
  }
  .statsRow {
    display: flex;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  .statsRow > div {
    width: 50%;
  }
  .statsRow > div:last-child {
    display: none;
  }
  .rightContent {
    display: none !important;
  }
  .testimonialImageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonialSwiper .eachSlide {
    gap: 0rem;
    flex-wrap: wrap;
  }
  .blueBg {
    display: none;
  }
  .estimonialSwiper p {
    font-size: 18px;
  }
  .testimonialSwiper p {
    font-size: 18px;
    text-align: center;
  }
  .testimonialSwiper h6 {
    font-size: 12px;
    text-align: center;
  }
  .testimonialSwiper small {
    display: block;
    text-align: center;
    font-size: 12px;
  }
  .testimonialIconContainer {
    justify-content: center;
  }
  .testimonialImage {
    height: 90px !important;
    width: 90px !important;
    border-radius: 50px !important;
    object-fit: cover;
  }
  .mobileQuoteIcon {
    display: block;
  }
  .desktopQuoteIcon {
    display: none;
  }
  .sectionHeader {
    margin-bottom: 0;
  }
  .leftContent {
    padding-bottom: 0;
    margin-top: 5px;
    padding-right: 0;
  }
  .testimonialSwiper {
    padding-top: 0 !important;
  }
  .recruiterSection {
    padding-top: 1rem !important;
  }
  .recruiterSection p {
    text-align: center;
  }
}
