.message_section{
  background: #fff;
}


.hod_message_section.department {
  background: #fff;
}

.container {
  padding: 4rem 0 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message_section .container{
  padding:0;
}

.container.department {
  padding: 0;
}

.card {
  position: relative;
  /* border-top: 1px solid #D6D6D6; */
  padding-top: 10rem;
}

.message_section .card{
  border:None;
  padding-block:15rem;
  
}

.department .card {
  border: none;
  padding: 15rem 0;
}

.card::before {
  content: "";
  background-color: #fff;
  border-radius: .5rem;
  position: absolute;
  inset: 10rem 0 0rem 10rem;
}

.imageContainer {
  position: relative;
  height: 100%;
}

.imagePlaceholder {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  left: -6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lineHod img {
  position: absolute;
  right: 6rem;
  bottom: 0;
  top: 0;
  height: 100%;
}

.department .lineHod img {
  bottom: unset;
  height: auto;
}

.content .icons {
  margin-bottom: 3rem;
}

.placeholderContent {
  color: rgba(255, 255, 255, 0.5);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Content Section */
.row_padding {
  padding-block: 8rem !important;
}

.content {
  padding-inline: 0rem 18rem;
  padding-block: 6.8rem 10rem;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  position: relative;
  z-index: 1;
}

.message_section .content{
  padding:0;
  padding-right:18rem;
}

.department .content {
  padding: 0;
  padding-right: 18rem;
  padding-top:1rem;
}

.title {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font: var(--font-18);
  line-height:3rem;
  color: #16344E;
  font-family: var(--font-Condensed);
  font-weight: 700;
  /* font:var(--font-26); */
  margin-bottom:2.4rem;
}

.message_section .title{
  text-transform: initial;
  font:var(--font-26);
  margin-bottom:3rem;
}

.subMessage{
  font:var(--font-16);
  color: #444444;
  margin-bottom:3rem;
}

.messageText {
  flex: 1;
  margin-bottom: 6rem;
}

.paragraph {
  color: #444;
  margin-bottom: 3rem;
  font: var(--font-16);
  color:#333;
  letter-spacing: 0;
  line-height: 3rem;
}

.paragraph:last-child {
  margin-bottom: 0;
}

.listGroup {
  margin:0;
  padding:0;
  flex-direction: column;
    gap: 1.5rem;
    padding-left: 0;
    list-style: none;
    display: flex;
    margin-bottom:4rem;
}

.listGroup li{
  color: rgb(68, 68, 68);
    align-items: flex-start;
    padding-left: 1.3rem;
    display: flex;
    position: relative;
    font: var(--font-16);
}

.listGroup li:before{
  content: "";
    background-color: #ffc100;
    border-radius: 50%;
    flex-shrink: 0;
    width: 5px;
    height: 5px;
    margin-top: 1rem;
    position: absolute;
    left: 0;
}

.hodImage {
  border-radius: 8px;
  border-top-left-radius: 5rem;
  position: relative;
  height:auto;
}

/* HOD Info */
.hodInfo {
  margin-top: auto;
  border-top: 1px solid var(--color-100);
  padding-top: 3.5rem;
}
.hodInfo h4 + p{
  margin-bottom: 1rem;
}
.hodName {
  color: #16344E;
  margin-bottom: 0.25rem;
  font: var(--font-21);
  font-weight: 500;
}

.hodDesignation {
  font: var(--font-16);
  color: #000;
  margin-bottom: 0;
}

.hodRow {
  display: grid;
  grid-template-columns:repeat(1, 35% auto);
  gap: 7.6rem;
}

.hodRow .left_col{
  /* display:flex; */
  /* align-items: center; */
  padding:10rem 0;
}


.arrowLink{
  border:none!important;
  background:none;
  font:var(--font-18);
  color: #16344E;
  font-weight: 500;
}

.arrowLink img{
  margin-left: 1rem;
}


@media (max-width: 1024px) {
  .imagePlaceholder {
    left: 0rem;
  }

  .content {
    padding-inline: 0rem !important;
    padding-block: 4rem;
    display: block;
  }

  .card::before {
    display: none;
  }

  .container {
    padding: 4rem 0;
  }

  .card {
    padding-top: 6rem;
  }

  .hodRow {
    display: block;
  }

  .lineHod img {
    right: -10rem;
  }

  .hodRow {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    align-items: center;
  }

  .messageText {
    margin-bottom: 3rem;
  }
  .lineHod img {
    display: none;
  }
}

/* Responsive Design */
@media (max-width: 767px) {
  .container {
    padding: 0rem 0;
  }

  .card {
    padding-top: 4rem;
  }

}

@media (max-width: 575px) {
  .card {
    padding-top: 2rem;
  }

  .content {
    padding-block: 2rem;
  }

  .hodInfo {
    padding-top: 2rem;
  }

  .hod_img {
    height: 100% !important;
  }
}

@media (max-width: 375px) {

  .hod_img {
    height: 100% !important;
  }
}