.happeningsContainer {
  padding: 10rem 9rem;
  background: linear-gradient(rgba(1, 140, 232, 0.16) 20%, #f6fbfb 20%);
}
.happeningsTitle {
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
  background: linear-gradient(to right, #018ce8 30%, #263868 40%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
}
.happeningsSubTitle {
  font-weight: 600;
}
.tabButton {
  background: unset;
  border: unset;
  font-size: 14px;
  font-weight: 600;
  padding-top: 1rem;
}
.tabHeaders {
  border-top: 2px solid #d1cbcb75;
  justify-content: center;
  gap: 2rem;
  display: flex;
  width: 70%;
  margin: auto;
}
.activeTab {
  color: #ff6600;
  border-top: 2px solid orange;
}
