/* components/home-components/LegacySection/LegacySection.module.css */

.fifthSection {
  padding: 5rem 10rem;
  background: #e6ffff;
}

.topSection {
  margin-bottom: 1rem;
}

.topSectionHeading {
  width: 40%;
  font-size: 60px;
  font-weight: bold;
}

.violetText {
  color: #9852a1;
}

.fifthMiddleSection {
  align-items: center;
}

.navButtons {
  background: #16344e;
  padding: 0.5rem 2rem;
  color: #fff !important;
  text-decoration: none;
  display: inline-block;
  transition: opacity 0.3s ease;
}

.navButtons:hover {
  opacity: 0.9;
  color: #fff;
}

.leftColumn {
  border-right: 1px solid rgba(212, 212, 212, 0.8);
  padding-right: 4rem;
}

.rightColumn {
  padding-left: 5rem;
}

.contentPart {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  color: white;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  gap: 1rem;
  font-size: 0.875rem;
}

.chancellorImage {
  width: 100%;
  height: auto;
}

.description {
  font-weight: 300;
  width: 75%;
}

.highlightBox {
  border: 1px solid #dee2e6;
  padding: 1rem;
  display: flex;
  gap: 0.75rem;
}

.highlightNumber {
  font-weight: bold;
  color: #9852a1;
}

.sourceText {
  font-weight: bold;
  font-size: 1.25rem;
}
.topSection p {
  font-size: 18px;
  color: #16344e;
}

/* Responsive Design */

@media (min-width: 1381px) and (max-width: 1919px) {
}
@media (min-width: 1040px) and (max-width: 1380px) {
}
